@import "tailwindcss";

:root {
  --background: #1e1e2e;
  --foreground: #cdd6f4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

#particles {
  z-index: -9999 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #181825;
}

::-webkit-scrollbar-thumb {
  background: #45475a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585b70;
}

.btn-bg {
  background-color: #cba6f7;
}

.btn-bg:hover {
  background-color: #554564;
}

.btn-bg svg {
  color: #1e1e2e;
}

.btn-demo {
  color: #1e1e2e;
}

.emoji-wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

.emoji-wave:hover {
  animation-name: wave-animation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.circular-progress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  --stroke-width: 12px;
}

.circular-progress:hover {
  animation: progress-animation 1s linear 0s 1 forwards;
  opacity: 1;
}

.favorite {
  border-color: #554564;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
  opacity: 0;
}
.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0ms linear 0s;
  stroke: #f5c2e7;
  opacity: 0;
}

/* .circular-progress:hover circle.bg,
.circular-progress:hover circle.fg {
  opacity: 1;
} */

.circular-progress circle.bg,
.circular-progress circle.fg {
  opacity: 0;
  transition: opacity 0.2s;
}

.circular-progress.progress-visible circle.bg,
.circular-progress.progress-visible circle.fg {
  opacity: 1;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.flip-container {
  perspective: 192px;
}

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 192px;
  height: 192px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
